## Tuples
Tuples are immutable.
<br>We use Parentheses instead of square brackets

In [1]:
tuple_1 = ('History', 'Maths', 'Physics', 'CompSci')
tuple_2 = tuple_1
print(tuple_1)
print(tuple_2)

('History', 'Maths', 'Physics', 'CompSci')
('History', 'Maths', 'Physics', 'CompSci')

Changing (mutating) won't work in tuples. Gives error.

In [2]:
tuple_[0] = 'Art'

NameError: name 'tuple_' is not defined

## Sets
Unordered values without duplicates.
<br> We use curly braces.

In [1]:
cs_courses = {'History', 'Maths', 'Physics', 'CompSci'}
print(cs_courses)

{'Maths', 'History', 'CompSci', 'Physics'}

Try adding a duplicate.

In [2]:
cs_courses = {'History', 'Maths', 'Physics', 'CompSci', 'Maths'}
print(cs_courses)

{'Maths', 'History', 'CompSci', 'Physics'}

Sets are used to test whether a value is part of a set or not. 
<br> Sets does it pretty much efficiently than lists.
<br> This is called <strong>Membership test</strong>.

In [3]:
print('Maths' in cs_courses)

True

<b>Intersection</b> and <b>difference</b> in sets.

In [4]:
art_courses = {'History', 'Maths', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))

print(cs_courses.difference(art_courses))

{'Maths', 'History'}
{'CompSci', 'Physics'}

<b>Union</b> method.

In [5]:
print(cs_courses.union(art_courses))

{'CompSci', 'Physics', 'History', 'Design', 'Maths', 'Art'}

### How to create empty list, tuple and set?

Empty Lists

In [6]:
empty_list = []
empty_list = list()

Empty Tuples

In [7]:
empty_tuple = ()
empty_tuple = tuple()

Empty Sets

In [8]:
empty_set = {}    # This isn't right! It's a dictionary
empty_set = set()

## Dictionary

Dictionary are just key-value pairs.
<br>
```python
dict = {key : value}
```

In [9]:
student = {'name': 'Saitama', 'age': 24, 'courses': ['Maths', 'CompSci']}
print(student)

{'name': 'Saitama', 'age': 24, 'courses': ['Maths', 'CompSci']}

In [10]:
print(student['courses'])

['Maths', 'CompSci']

If the key-value pair doesn't exist in the dictionary, it shows error. To avoid the error we use <b>get() method</b>.
<br>It returns the value if the key is present, and returns <b>None</b> if the key is not present in the dictionary.

In [11]:
print(student.get('class'))

None

We can also specify the default value for those key that doesn't exist in our dictionary.

In [12]:
print(student.get('class', 'Not found'))

Not found

<h4>To update a value in a dictionary</h4>

In [13]:
student['name'] = 'Mob-Kun'
print(student)

{'name': 'Mob-Kun', 'age': 24, 'courses': ['Maths', 'CompSci']}

To update multiple values in a dictionary, we use the <b>update() method</b> which takes a dictionary as its argument.
<br>Note that in the example below the a new key 'phone' is added and rest are updated except 'courses'. So it remained unchanged.

In [14]:
student.update({'name': 'Light Yagami', 'age': 19, 'phone': '9900-9900'})

In [15]:
print(student)

{'name': 'Light Yagami', 'age': 19, 'courses': ['Maths', 'CompSci'], 'phone': '9900-9900'}

<h4>To delete a specific key and its value</h4>

In [16]:
del student['age']
print(student)

{'name': 'Light Yagami', 'courses': ['Maths', 'CompSci'], 'phone': '9900-9900'}

We can also use pop() method. 
<br><b>Remember</b>: pop() method returns the value popped.

In [17]:
# lets add age again to delete, again. XD
student['age'] = 25

In [18]:
age = student.pop('age')
print(age)

25

<h4>Lenght of a dictionary</h4>

In [19]:
print(len(student))

3

In [20]:
print(student.keys())

dict_keys(['name', 'courses', 'phone'])

In [21]:
print(student.values())

dict_values(['Light Yagami', ['Maths', 'CompSci'], '9900-9900'])

In [22]:
print(student.items())

dict_items([('name', 'Light Yagami'), ('courses', ['Maths', 'CompSci']), ('phone', '9900-9900')])

<h4>Looping through the dictionary</h4>

In [23]:
for key in student:
    print(key)

name
courses
phone

In [24]:
for key in student.items():
    print(key)

('name', 'Light Yagami')
('courses', ['Maths', 'CompSci'])
('phone', '9900-9900')

# Conditionals and Booleans

## Basic syntax
```python
condition = False

if condition:
    print("Evaluates to true")
else:
    print("Evaluates to false")
```

### ```None``` in if statement

In [25]:
condition = None

if condition:
    print("Evaluates to true")
else:
    print("Evaluates to false")

Evaluates to false

### Non zero of any numeric type

In [26]:
condition = 2

if condition:
    print("Evaluates to true")
else:
    print("Evaluates to false")

Evaluates to true

### Zero of any numeric type

In [27]:
condition = 0

if condition:
    print("Evaluates to true")
else:
    print("Evaluates to false")

Evaluates to false

### Any empty sequence
For example: ' ', ( ), [ ]

In [28]:
condition = ''

if condition:
    print("Evaluates to true")
else:
    print("Evaluates to false")

Evaluates to false

### Any empty mapping (dictionary)
For example, {}

In [29]:
condition = {}

if condition:
    print("Evaluates to true")
else:
    print("Evaluates to false")

Evaluates to false

In [30]:
language = 'python'

if language == 'python':
    print("language: python")
else:
    print('language: not python')

language: python

In [31]:
user = 'Admin'
logged_in = False

if user == 'Admin' and logged_in:
    print("Homepage")
else:
    print("Bad credentials")

Bad credentials

## Equating two lists

In [32]:
a = [1, 2, 3]
b = [1, 2, 3]

print("a == b : ", a == b)
print("a is b : ", a is b)

a == b :  True
a is b :  False

In the above code, 
```python
a is b
```
evaluates to False because a and b are two different objects. Both of them have different memory location.
<br>
We can check this by ```id()``` function.

In [33]:
print(id(a))
print(id(b))

140322558782152
140322558781256

If our code was like this, then id of the two would have been same.

In [34]:
b = a
print("id(a): ", id(a))
print("id(b): ", id(b))

id(a):  140322558782152
id(b):  140322558782152

# Looping statements

## ```for()``` loop

In [35]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    print(num)

1
2
3
4
5

### ```break``` statement

In [36]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    print(num)
    if num == 3:
        break

1
2
3

### ```continue``` statement

In [37]:
nums = [1, 2, 3, 4, 5]

for num in nums:
    if num == 3:
        continue
    print(num)

1
2
4
5

## Nested loop

In [38]:
for num in nums:
    for letter in "abc":
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

### range() function

In [39]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

## ```while(condition)``` loop

In [41]:
x = 0
while x < 5:
    print(x)
    x+=1

0
1
2
3
4

# ```functions( )```

In [42]:
def func():
    print("hello I am in the function")

In [43]:
func()

hello I am in the function

### A function for finding ```factorial()``` of a number

In [44]:
def factorial(n):
    if n == 0:
        return 1;
    return n*factorial(n-1)

n = int(input())
print("factorial = ", factorial(n))

5
factorial =  120

### ```function(*args, **kwargs)```

In [45]:
def student_info(*args, **kwargs):
    print(args)
    print(kwargs)

student_info('Maths', 'Art', name = 'Tarun', age = 20)

('Maths', 'Art')
{'name': 'Tarun', 'age': 20}

Output is stored in form of **TUPLE** and **DICTIONARY**.

# Importing Modules and Exploring the Standard Library

In [46]:
!ls

'1. Working with strings.py'				   my_module.py
'2. Integers and Floats - Working with numneric data.py'   text2.txt
'3. Lists, Tuples and Sets.py'				   text.txt
'4. onwards and continued.ipynb'

In [47]:
import my_module

Imported my_module

In [48]:
courses = ['History', 'Maths', 'Physics', 'CompSci']

index = my_module.find_index(courses, 'CompSci')
print(index)

3

In [49]:
my_module.test

'Test string'

# Reading and Writing files using File Objects

## Reading
Default opening mode: **Reading (r)**
<br>
Reading: r 
<br>Writing: w
<br>Append: a
<br>Reading and Append: r+a

In [50]:
f = open('text.txt', 'r')

In [51]:
print(f.name)
print(f.mode)

text.txt
r

Since we opened the file using **```open()```** function. Therefore we must close the file using **```close()```** function.
<br> <br>
**<font color="green">Q: Why bothering about closing a file?</font>**
<br>
**<font color="blue">A: Because it may result in memory leaks and run over the maximum allowed limit of memory.</font>**
<br>

In [52]:
f.close()

### Alternate way of opening a file
**using ```with``` operator**
```python
with open('text.txt', 'r') as f:
    # block starts here
    
    # some code here
    print(f.name)
    
    # some more code here
    print(f.mode)
    
    # block ends here
```
<br> **NOTE**<br> The main benefit of using ```with``` operator is that we need not to worry about closing the file. It will automatically close the file as soon as we leave the block.

In [53]:
with open('text.txt', 'r') as f:
    print("File name: ", f.name)
    print("File mode: ", f.mode)
    print("File content: \n", f.read())

File name:  text.txt
File mode:  r
File content:
 hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

Though even out of the block, we still have the access to the file object **f**. The file have been closed but we can still access the file object.

In [54]:
print(f.closed)

True

In [55]:
with open('text.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)

hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

#### Read first line

In [56]:
with open('text.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents)

hey! this is just a text sample.

#### Read first and second lines

In [57]:
with open('text.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents)
    
    f_contents = f.readline()
    print(f_contents)

hey! this is just a text sample.

this is second line.

The print statement automatically ends with a newline character. So it added an empty line between the two lines.<br>Although, this can be changed like this.

In [58]:
with open('text.txt', 'r') as f:
    f_contents = f.readline()
    print(f_contents, end = '')
    
    f_contents = f.readline()
    print(f_contents, end = '')

hey! this is just a text sample.
this is second line.

#### Read all lines

In [59]:
with open('text.txt', 'r') as f:
    f_contents = f.read()
    print(f_contents)

hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

#### Using iterator

In [60]:
with open('text.txt', 'r') as f:
    for line in f:
        print(line, end = '')

hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

#### More with ```read()```

In [61]:
with open('text.txt', 'r') as f:
    # reading first 40 characters of file
    f_contents = f.read(40)
    print(f_contents, end = '')
        
    # reading next 20 characters from file
    # it picks up from the point where it left
    f_contents = f.read(40)
    print(f_contents, end = '')

hey! this is just a text sample.
this is second line.
this is third line
and thi

#### ```f.tell()```

In [62]:
with open('text.txt', 'r') as f:
    print('Printing first 30 characters: ')
    f_contents = f.read(30)
    print(f_contents)
    
    print('Current character:', f.tell())

Printing first 30 characters:
hey! this is just a text sampl
Current character: 30

#### ```f.seek()```

In [63]:
with open('text.txt', 'r') as f:
    print('Printing first 10 characters: ')
    f_contents = f.read(10)
    print(f_contents)
    
    print('\n(Moving to 20th character)')
    f.seek(20)
    
    
    print('\nPrinting next 10 characters: ')
    f_contents = f.read(10)
    print(f_contents)

Printing first 10 characters:
hey! this

(Moving to 20th character)

Printing next 10 characters:
text sampl

## Writing

In [64]:
with open('text2.txt', 'w') as f:
    f.write('Test')
    f.write('Test')

In [65]:
!cat text2.txt

TestTest

In [66]:
with open('text2.txt', 'w') as f:
    f.write('Test')
    f.seek(0)
    f.write('R')

In [72]:
!cat text_copy.txt

hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

#### Copying content of a file into another file

In [85]:
with open('text.txt', 'r') as rf:
    with open('text_copy.txt', 'w') as wf:
        for line in rf:
            wf.write(line)

In [86]:
# text.txt file
!cat text.txt

hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

In [87]:
# text_copy.txt file
!cat text_copy.txt

hey! this is just a text sample.
this is second line.
this is third line
and this is  4th line

## Working with ```image files```

To work with files, we use **BINARY MODE**.
<br>To copy an image, we copy it **bit-by-bit**.
<br> We change the mode to binary mode by using **rb** and **wb**.

In [90]:
with open('image.png', 'rb') as rf:
    with open('image_copy.png', 'wb') as wf:
        for line in rf:
            wf.write(line)
        print('Image copied successfully.')

Image copied successfully.

### Alternate way
Instead of doing this line-by-line, we can do this in **chuncks**.

In [94]:
with open('image.png', 'rb') as rf:
    with open('image_copy_using_chunk.png', 'wb') as wf:
        chunk_size = 4096
        rf_chunk = rf.read(chunk_size)
        
        while len(rf_chunk) > 0:
            wf.write(rf_chunk)
            rf_chunk = rf.read(chunk_size)
        
        print('Image copied successfully.')

Image copied successfully.